.dashboard {
    width: 100%;
    height: 100%;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
}
.dashboard .dashMid {
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
}
.dashboard .dashMid .midRt {
    width: 30%;
    height: 100%;
    margin-left: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.dashboard .dashBtm {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .dashboard .realTimeData {
    width: 100%;
    height: 200px;
} */
